name: test

permissions:
  pull-requests: write

on:
  pull_request:
    types: [opened]
  pull_request_target:

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - name: Read Markdown file
        id: markdown
        run: |
          echo "| bench-result | pull-elapsed(s) | create-elapsed(s) | run-elapsed(s) | total-elapsed(s) |" > result.md
          echo "::set-output name=content::$(cat result.md)"
      - name: test
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: |
            Release ${{ github.sha }} to <https://pr-${{ github.event.number }}.example.com>
